@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
/* font-family: 'Roboto', sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Roboto', sans-serif;;
}

/* Basics Styles */

input{ display: none;}

a{
    text-decoration: none;
    color: #fff;
}

/* Input button */

label{ 
    position: fixed;
    z-index: 100;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background: rgba(95, 95, 95, 0.671);
    color: #eee;
    font-size: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    transition-property: left;

}

/*  input functionality */

#button-nav-bar:checked ~ label{
    left: 285px;
}

#button-nav-bar:checked ~ .conteiner{
    left: 275px;
}

#button-nav-bar:checked ~ .conteiner .nav-bar{
    left: 0;
}
.conteiner{
    position: absolute;
    left: 0;
    transition-duration: 0.4s;
    transition-property: left;
}

/* NAR BAR */
.nav-bar{
    width: 275px;
    left: -275px;
    position: fixed;
    top: 0;
    height: 100vh;
    background: #221f20;
    transition-duration: 0.4s;
    transition-property: left;
    overflow-y: auto
}

.nav-bar ul{
    list-style: none;
}

.nav-bar ul a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(218, 218, 218);
    line-height: 3.2;
    font-weight: 300;
    font-style: italic;
}

/* Litas */

.list-one>li>a{
 margin-left: 20px;
}
.list-two>li>a{
 margin-left: 30px;
 color: rgba(255, 255, 255, 0.5);
}

.list-three>li>a{
    color: rgba(255, 255, 255, 0.5);
 margin-left: 50px;
}

/* Items de listas */

.list-one li{
    border-bottom: 1px solid rgba(82, 82, 82, 0.2);
    height: 50px;
}

.list-one>li:nth-of-type(2){
    border-bottom: none;
    height: auto;
}

.list-two>li:nth-of-type(4){
    border-bottom: none;
    height: auto;
}


.list-two>li:nth-of-type(1){
    border-top: 1px solid rgba(82, 82, 82, 0.2);
    border-bottom: 1px solid rgba(82, 82, 82, 0.2);
}

.list-two>li:nth-of-type(1)>a{
    margin-left: 15px;
}

.list-three>li:nth-of-type(1){
    border-top: 1px solid rgba(82, 82, 82, 0.2);
    border-bottom: 1px solid rgba(82, 82, 82, 0.2);
}

.list-three>li:nth-of-type(1)>a{
    margin-left: 25px;   
}

.list-one>li:nth-of-type(5){
    border: 0;
}



.header-conteiner{
    width: 100%;
}
.header h1{
    font-size: 2.25em;
    margin: 0;
    height: 135px;
    width: 100%;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    height: 323px;
    background: url('../img/urban.jpg');
    
}

.slogan{
    position: relative;
    top: 91px;
    margin: auto;
    width: 600px;
    height: 140px;
    background: #1f1c1dfb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.slogan h2{
    font-size: 2.2em;
    font-weight: 900;
    letter-spacing: 1px;
    color: #eee;
}

.slogan h3{
    margin-top: 20px;
    color: rgb(211, 21, 21);
    font-weight: 300;
}

/* header */

.header{
    background: rgb(255, 255, 255);
}

.front-page{
    width: 100%;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.features{
    width: 93%;
    margin: auto;
}

.features-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.features-item i{
    color: #fff;
    padding: 35px;
    border-radius: 5px 5px 0 0;
    font-size: 4em;
    margin: 40px 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

.features-item p{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
}

.features-item span{
    font-size: 0.9em;
    font-weight: 200;
    margin-bottom: 35px;
}

.features-item .icon-cog{
    background: rgb(213, 35, 73);
}

.features-item .icon-fire{
    background: rgb(37, 33, 34);
}
.features-item .icon-lab{
    background: rgb(131, 122, 124);
}

.features article:last-child{
    border: none;
}

.main-links{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.main-links a{
    width: 280px;
    font-size: 1.3em;
    font-weight: 700;
    
    margin: 0 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.main-links a:first-child{
    background: rgb(213, 35, 73);
}

.main-links a:last-child{
 background: rgb(37, 33, 34);
}

/* main content */

.main-conteiner{
    background: #F7F7F7;
}

.my-porfolio{
    width: 90%;
    margin: auto;
}

.my-porfolio h2{
    padding: 48px 30px;
    font-size: 1.3em;
    color: rgb(37, 33, 34);
    text-align: center;
    position: relative;
}

.my-porfolio h2::before{
    content: '';
    top: 50%;
    left: 0;
    position: absolute;
    width: 40%;
    height: 1px;
    background: rgb(216, 216, 216);
}

.my-porfolio h2::after{
    content: '';
    top: 50%;
    right: 0;
    position: absolute;
    width: 40%;
    height: 1px;
    background: rgb(216, 216, 216);
}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-articles{
    width: 47%;
    height: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(203, 203, 203);
    box-shadow: 0 0 20px rgba(82, 82, 82, 0.1);
}

.main-articles img{
    width: 100%;
    display: block;

}

.article-p{
    padding: 30px 20px;
    font-weight: bold;
    font-size: 1.2em;

}

.article-span{

    display: block;
    font-weight: 200;
    padding: 0 20px;
    font-size: 0.85em;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

.article-link{
    display: flex;
    width: 90%;
    height: 45px;
    margin: 45px auto;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    background: #000;
    color: #fff;
}
