@import url('https://fonts.googleapis.com/css?family=Passion+One|Roboto:100i&display=swap');
/* 
font-family: 'Passion One', cursive;
font-family: 'Roboto', sans-serif;
 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
