@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?t7mak6');
  src:  url('../fonts/icomoon.eot?t7mak6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?t7mak6') format('truetype'),
    url('../fonts/icomoon.woff?t7mak6') format('woff'),
    url('../fonts/icomoon.svg?t7mak6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
